



<div class="cover">
  <div class="clearfix"></div>
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div id="myHouses_panel" class="panel panel-primary panel-transparent">
          <div class="panel-body">
            <table class="table">
              <thead>   
                <tr>
                  <td><h6>ADDRESS</h6></td>
                  <td><h6>DATE</h6></td>
                  <td><h6>TIME</h6></td>
                  <td><h6>DELETE</h6></td>
                </tr>
              </thead>
              <tbody>
                <% houses.each do |house| %>
                  <tr>
                    <td><a href="/houses/<%= house.id %>"><%= house.st_address %>, <%= house.city %> <%= house.state %></a></td>
                    <td><%= house.sch_date %></td>
                    <td><%= house.sch_time %></td>
                    <td><input type="checkbox"></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
            
  </div>

</div>

