
<!-- showing all openhouses by user and creating them. -->

  <div class="container">
    <header class="row">
      <div class="col-md-6">
        <h2>Open Houses Scheduled By <%= user.fname %></h2>
      </div>
    </header>


    <ul>
      <% houses.each do |house| %>
        <li><a href="/houses/<%= house.id %>"><%= house.st_address %>, <%= house.city %> <%= house.state %> | <%= house.sch_date %> | <%= house.sch_time %></a></li>
      <% end %>
    </ul>

    <form role="form" action="/houses/new" method="GET">
      <div class="form-group">
        <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
        <input type="submit" class="btn btn-md" value="Schedule an Open House">
      </div>
    </form>

  </div>